.wrapper{
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.card{
  width: 280px;
  padding: 14px;
  border: 1px solid gray;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}